{include file="public/head"}
<div class="bannerbox">
    <ul>
        <li><a href="#"><img src="__STATIC__/admin/images/banner2.jpg"> </a> </li>
    </ul>
</div>
<div class="goodslist-box">
    <div class="w1200">
        <div class="list-screen list-screen2">
            <ul>
                <p>请选择车类型</p>
                <li>
                    <a href="#" class="on">轿车</a>
                    <a href="#">SUV</a>
                    <a href="#">MPV</a>
                    <a href="#">性能车</a>
                    <a href="#">商用车</a>
                    <a href="#">新能源汽车</a>
                </li>
            </ul>
            <ul>
                <p>请选择日租车价格</p>
                <li>
                    <a href="#" class="on">200-300</a>
                    <a href="#">300-500</a>
                    <a href="#">500-800</a>
                    <a href="#">800-1000</a>
                    <a href="#">1000以上</a>
                </li>
            </ul>
            <ul class="ul-box">
                <p>请选择座位数</p>
                <li>
                    <a href="#" class="on">2座</a>
                    <a href="#">4座</a>
                    <a href="#">5座</a>
                    <a href="#">7座</a>

                </li>
            </ul>
        </div>
        <div class="list-zhuche">
            <ul>
                <li class="l_p1"><a href="#"><img src="__STATIC__/admin/images/goods-list1.jpg"> </a> </li>
                <li class="l_p2">
                    <p class="p1">玛莎拉蒂<span>/ G653</span></p>
                    <p class="p2">日租：<em>￥</em><span>200</span></p>
                    <p class="p3">轿跑 / 2厢 / 5座 / 2.0L / 自动挡</p>
                    <p class="p4">库存：<span>10辆</span></p>
                    <p class="p5">月租：<em>￥</em><span>5,000</span></p>
                </li>
                <li class="l_p3">
                    <a href="{:url('index/buyways/tenancyContent')}">租车</a>
                </li>
            </ul>
            <ul>
                <li class="l_p1"><a href="#"><img src="__STATIC__/admin/images/goods-list1.jpg"> </a> </li>
                <li class="l_p2">
                    <p class="p1">玛莎拉蒂<span>/ G653</span></p>
                    <p class="p2">日租：<em>￥</em><span>200</span></p>
                    <p class="p3">轿跑 / 2厢 / 5座 / 2.0L / 自动挡</p>
                    <p class="p4">库存：<span>10辆</span></p>
                    <p class="p5">月租：<em>￥</em><span>5,000</span></p>
                </li>
                <li class="l_p3">
                    <a href="#">租车</a>
                </li>
            </ul>
        </div>

    </div>
</div>
{include file="public/footer"}