{include file="public/head"}
<div class="Haome">
   <div class="Conterbox">
        <ul>
            <li class="li-titel">全款购车</li>
            <li class="cententbox">介绍文案介绍文案介绍文案介绍文案介绍文案介绍文案介绍文案介绍文案介绍文案介绍文案介绍文案

                文案介绍文案介绍文案介绍文案介绍文案介绍文案介绍文案介绍文案介绍文案介绍文案介绍文案介绍文案</li>
            <li class="a-hrer"><a href="#">查看车型</a> </li>
        </ul>
   </div>
</div>
<div class="Conterbox Conterbox2">
    <ul>
        <li class="li-titel">全款购车</li>
        <li class="cententbox">介绍文案介绍文案介绍文案介绍文案介绍文案介绍文案介绍文案介绍文案介绍文案介绍文案介绍文案
            文案介绍文案介绍文案介绍文案介绍文案介绍文案介绍文案介绍文案介绍文案介绍文案介绍文案介绍文案</li>
    </ul>
</div>
<div class="box-fangan">
    <ul class="left-img">
        <li>
            <img src="__STATIC__/admin/images/ce-2.jpg">
        </li>
    </ul>
    <ul class="rright-form">
        <li>
            <span>品牌</span>
            <select>
                <option>请选择品牌</option>
            </select>
        </li>
        <li>
            <span>车型</span>
            <select>
                <option>请选择车型</option>
            </select>
        </li>
        <li>
            <span>配置</span>
            <select>
                <option>请选择配置</option>
            </select>
        </li>
        <li>
           <p>
               <span>首付</span>
               <select>
                   <option>选择首付</option>
               </select>
           </p>
            <p>
                <span>年限</span>
                <select>
                    <option>请选择贷款年限</option>
                </select>
            </p>
        </li>
        <em>月供￥<b>3,568</b></em>
        <i>该计算方式仅供参考，<br> 每个银行利率不同</i>
    </ul>
</div>
<div class="Gaone-box">
    <div class="Haomerbox">
        <span>以租代购</span>
        <p>以租代购文案介绍以租代购文案介绍以租代购文案介绍以租代购文案介绍以租代购文案介绍以租代购文案介绍以租代购文案介绍以租代购文案介绍以租代购文案介绍</p>
    </div>
    <div class="w_box100 ">
        <div class="w1200">
            <div class="swiper-slide list-show">
                <ul>
                    <li>
                        <a href="#">
                            <img src="__STATIC__/admin/images/goods-list1.jpg">
                                <span>
                                    <em>玛莎拉蒂</em>
                                    <i>Ghibli轿车系列</i>
                                </span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="__STATIC__/admin/images/goods-list1.jpg">
                                <span>
                                    <em>玛莎拉蒂</em>
                                    <i>Ghibli轿车系列</i>
                                </span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="__STATIC__/admin/images/goods-list1.jpg">
                                <span>
                                    <em>玛莎拉蒂</em>
                                    <i>Ghibli轿车系列</i>
                                </span>
                        </a>
                    </li>

                </ul>
            </div>
            <div class="Bane"><a href="#">更多车型</a> </div>
        </div>
    </div>
</div>
<div class="Haome Haome2">
    <div class="Conterbox Conterbox3">
        <ul>
            <li class="li-titel">租赁模式</li>
            <li class="cententbox">介绍文案介绍文案介绍文案介绍文案介绍文案介绍文案介绍文案介绍文案介绍文案介绍文案介绍文案

                文案介绍文案介绍文案介绍文案介绍文案介绍文案介绍文案介绍文案介绍文案介绍文案介绍文案介绍文案</li>
            <li class="a-hrer"><a href="{:url('index/buyways/tenancyList')}">查看车型</a> </li>
        </ul>
    </div>
</div>
<div class="Conoceo">
   <div class="GHaonebox">
       <ul>
           <li class="li-tl">加入司机团队</li>
           <li class="li-js">介绍文案介绍文案介绍文案介绍文案介绍文案</li>
           <li class="li-1"><a href="#">立即加入</a> </li>
           <li class="Gkr">团队电话</li>
           <li class="Pms"><b>400-710-6688</b></li>
       </ul>
   </div>
</div>
{include file="public/footer"}