{include file="public/head"}    
<div class="bannerbox">
    <ul>
        <li><a href="#"><img src="__STATIC__/admin/images/banner.jpg"> </a> </li>
    </ul>
</div>
<div class="contbox">
    <ul>
        <li>
            <a href="#">
                <span>全款购车</span>
                <p>全款在国车汽贸购买汽车全款在国车汽贸购
                    买汽车全款在国车汽贸购买汽车全款在国车
                    汽贸购买汽车
                </p>
                <i class="iconfont icon-right1"></i>
            </a>
        </li>
        <li>
            <a href="#">
                <span>分期按揭</span>
                <p>分期按揭在国车汽贸购买汽车分期按揭在国 车汽贸购买汽车分期按揭在国车汽贸购买汽 车分期按揭在国车汽贸购买汽车
                </p>
                <i class="iconfont icon-right1"></i>
            </a>
        </li>
        <li>
            <a href="#">
                <span>以租代购</span>
                <p>全款在国车汽贸购买汽车全款在国车汽贸购
                    买汽车全款在国车汽贸购买汽车全款在国车
                    汽贸购买汽车
                </p>
                <i class="iconfont icon-right1"></i>
            </a>
        </li>
        <li>
            <a href="#">
                <span>租赁模式</span>
                <p>分期按揭在国车汽贸购买汽车分期按揭在国 车汽贸购买汽车分期按揭在国车汽贸购买汽 车分期按揭在国车汽贸购买汽车
                </p>
                <i class="iconfont icon-right1"></i>
            </a>
        </li>
        <li>
            <a href="#">
                <span>加入司机团队</span>
                <p>分期按揭在国车汽贸购买汽车分期按揭在国 车汽贸购买汽车分期按揭在国车汽贸购买汽 车分期按揭在国车汽贸购买汽车
                </p>
                <i class="iconfont icon-right1"></i>
            </a>
        </li>
        <li>
            <a href="#">
                <b>更多购车方案</b>
                <i class="iconfont icon-right1"></i>
            </a>
        </li>
    </ul>
</div>
<div class="index-titelpic">
    <span>公司介绍</span>
    <p><em>Company</em>introduction</p>
</div>
<div class="Auto-box">
    <div class="Auto-text clearfix">
        <div class="leftimg">
            <img src="__STATIC__/admin/images/img8.jpg">
            <p>
                <span>公司简介</span>
                <em><em>Company</em>profile</em>
                <i></i>
            </p>
        </div>
        <div class="righttext fr">
            <div class="j-s">
                国车汽贸公司是一个拥有多元化战略的创新投资集团。公司注册资本金5000万人民币，经营范围涉及旅游项目开发、企业管理咨询服务、
                商务信息咨询服务、教育咨询服务、医疗信息咨询服务、新能源项目开发等。我们致力于突破行业传统限制、深挖各板块业务的创新基因，
                通过统筹布局、跨界联动，以核心竞争力为基础，稳健推进多元化投资经营，将易能科技打造成价值力、影响力、创新力并存的优质管理集团。
            </div>
            <a href="#">More<i class="iconfont icon-jia"></i></a>
        </div>
    </div>
</div>
<div class="index-titelpic">
    <span>产品展示</span>
    <p><em>Product</em>display</p>
</div>
<div class="goodsbox-show">
    <div class="widbox-goods clearfix" >
        <ul>
            <li>
                <img src="__STATIC__/admin/images/img3.jpg" class="fl">
                <div class="rightbx">
                    <span>产品名称</span>
                    <p>国车汽贸公司是一个拥有多元化战略的创新投资集团。公司注册资本金5000万人民币，经营范围涉及旅游项目开发、
                        企业管理咨询服务、商务信息咨询服务、教育咨询服务、医疗信息咨询服务、新能源项目开发等。我们
                        致力于突破行业传统限制、深挖各板块业务的创新基因，通过统筹布局、跨界联动，以核心竞争力为基础，
                        稳健推进多元化投资经营，将易能科技打造成价值力、影响力、创新力并存的优质管理集团。</p>
                    <a href="#">More<i class="iconfont icon-jia"></i></a>
                </div>
            </li>
            <li>
                <img src="__STATIC__/admin/images/img3.jpg" class="fl">
                <div class="rightbx">
                    <span>产品名称</span>
                    <p>国车汽贸公司是一个拥有多元化战略的创新投资集团。公司注册资本金5000万人民币，经营范围涉及旅游项目开发、
                        企业管理咨询服务、商务信息咨询服务、教育咨询服务、医疗信息咨询服务、新能源项目开发等。我们
                        致力于突破行业传统限制、深挖各板块业务的创新基因，通过统筹布局、跨界联动，以核心竞争力为基础，
                        稳健推进多元化投资经营，将易能科技打造成价值力、影响力、创新力并存的优质管理集团。</p>
                    <a href="#">More<i class="iconfont icon-jia"></i></a>
                </div>
            </li>
        </ul>
    </div>
    <div class="ctrbox">
        <span class="iconfont icon-jiang-copy next"></span>
        <ul></ul>
        <span class="iconfont icon-jiang-copy prev"></span>
    </div>
</div>
<div class="texvua"><a href="#">更多车型</a> </div>

<div class="index-titelpic">
    <span>监控系统</span>
    <p><em>Monitoring</em>system</p>
</div>
<div class="Monitor">
    <ul>
        <li>
            <a href="#">
                <img src="__STATIC__/admin/images/icon-index1.jpg">
                <span>用户注册</span>
            </a>
        </li>
        <li>
            <a href="#">
                <img src="__STATIC__/admin/images/icon-index2.jpg">
                <span>实时监控</span>
            </a>
        </li>
        <li>
            <a href="#">
                <img src="__STATIC__/admin/images/icon-index3.jpg">
                <span>产品展示</span>
            </a>
        </li>
    </ul>
</div>
<div class="index-titelpic">
    <span>新闻中心</span>
    <p><em>News</em>Center</p>
</div>
<div class="News-nav">
    <ul>
        <li class="on"><a href="#">公司新闻</a> </li>
        <li><a href="#">行业资讯</a> </li>
        <li><a href="#">优惠活动</a> </li>
    </ul>
</div>
<div class="News-list">
    <ul>
        <li>
            <a href="#">
                <img src="__STATIC__/admin/images/img4.jpg">
                <p>
                    <span>新闻标题新闻标题</span>
                    <em>2018-08-17</em>
                </p>
            </a>
        </li>
        <li>
            <a href="#">
                <img src="__STATIC__/admin/images/img4.jpg">
                <p>
                    <span>新闻标题新闻标题</span>
                    <em>2018-08-17</em>
                </p>
            </a>
        </li>
        <li>
            <a href="#">
                <img src="__STATIC__/admin/images/img4.jpg">
                <p>
                    <span>新闻标题新闻标题</span>
                    <em>2018-08-17</em>
                </p>
            </a>
        </li>
    </ul>
</div>
<div class="texvua"><a href="#">更多新闻</a> </div>
<div class="index-titelpic">
    <span>售后服务</span>
    <p><em>After-sale</em>service</p>
</div>
<div class="After-sale clearfix">
    <ul>
        <li><i class="iconfont icon-kefu"></i>7x24小时服务</li>
        <li><i class="iconfont icon-tianping"></i>交易保证</li>
        <li><i class="iconfont icon-rexian"></i>统一服务热线</li>
    </ul>
</div>

{include file="public/footer"}