{include file="public/head"}
<div class="obgbox">
    <div class="bannerbox">
        <ul>
            <li><a href="#"><img src="__STATIC__/admin/images/banner6.jpg"> </a> </li>
        </ul>
    </div>
</div>
<div class="COnbaeb w1200">
    <div class="obgdivb video-list clearfix">
        <ul>
            <li onclick="click_bl(this)">
                <img src="__STATIC__/admin/images/img9.jpg" class="img1">
                <video src="mov_bbb.mp4" controls class="voidex" > </video>
                <p>
                    <img src="__STATIC__/admin/images/bf.png">
                </p>
            </li>
            <li onclick="click_bl(this)">
                <img src="__STATIC__/admin/images/img9.jpg" class="img1">
                <video src="mov_bbb.mp4" controls class="voidex" > </video>
                <p>
                    <img src="__STATIC__/admin/images/bf.png">
                </p>
            </li>
            <li onclick="click_bl(this)">
                <img src="__STATIC__/admin/images/img9.jpg" class="img1">
                <video src="mov_bbb.mp4" controls class="voidex" > </video>
                <p>
                    <img src="__STATIC__/admin/images/bf.png">
                </p>
            </li>
            <li onclick="click_bl(this)">
                <img src="__STATIC__/admin/images/img9.jpg" class="img1">
                <video src="mov_bbb.mp4" controls class="voidex" > </video>
                <p>
                    <img src="__STATIC__/admin/images/bf.png">
                </p>
            </li>
            <li onclick="click_bl(this)">
                <img src="__STATIC__/admin/images/img9.jpg" class="img1">
                <video src="mov_bbb.mp4" controls class="voidex" > </video>
                <p>
                    <img src="__STATIC__/admin/images/bf.png">
                </p>
            </li>
            <li onclick="click_bl(this)">
                <img src="__STATIC__/admin/images/img9.jpg" class="img1">
                <video src="mov_bbb.mp4" controls class="voidex" > </video>
                <p>
                    <img src="__STATIC__/admin/images/bf.png">
                </p>
            </li>
            <li onclick="click_bl(this)">
                <img src="__STATIC__/admin/images/img9.jpg" class="img1">
                <video src="mov_bbb.mp4" controls class="voidex" > </video>
                <p>
                    <img src="__STATIC__/admin/images/bf.png">
                </p>
            </li>
            <li onclick="click_bl(this)">
                <img src="__STATIC__/admin/images/img9.jpg" class="img1">
                <video src="mov_bbb.mp4" controls class="voidex" > </video>
                <p>
                    <img src="__STATIC__/admin/images/bf.png">
                </p>
            </li>
            <li onclick="click_bl(this)">
                <img src="__STATIC__/admin/images/img9.jpg" class="img1">
                <video src="mov_bbb.mp4" controls class="voidex" > </video>
                <p>
                    <img src="__STATIC__/admin/images/bf.png">
                </p>
            </li>
        </ul>
    </div>
</div>
<div class="Load-san"><a href="#">点击加载更多</a> </div>
<!--视频弹出播放-->
<div class="Tancgubox">
    <ul>
        <li>
            <p><i class="iconfont icon-jia"></i></p>
            <div class="divvidel">
                <video src="" controls autoplay></video>
            </div>
        </li>
    </ul>
</div>


{include file="public/footer"}