

{include file='public/head'}
<div class="bannerbox">
    <ul>
        <li><a href="#"><img src="__STATIC__/admin/images/banner2.jpg"> </a> </li>
    </ul>
</div>
<div class="goodslist-box">
    <div class="w1200">
        <div class="list-screen">
            <ul>
                <li>
                    <a href="#" class="on">轿车</a>
                    <a href="#">SUV</a>
                    <a href="#">MPV</a>
                    <a href="#">性能车</a>
                    <a href="#">商用车</a>
                    <a href="#">新能源汽车</a>
                </li>
            </ul>
        </div>
        <div class="w_box100">
            <div class="swiper-wrapper">
                <div class="swiper-slide list-show">
                    <ul>
                        <li>
                            <a href="{:url('index/car/carshow',array('carid'=>'1'))}">
                                <img src="__STATIC__/admin/images/goods-list1.jpg">
                                <span>
                                    <em>玛莎拉蒂</em>
                                    <i>Ghibli轿车系列</i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="__STATIC__/admin/images/goods-list1.jpg">
                                <span>
                                    <em>玛莎拉蒂</em>
                                    <i>Ghibli轿车系列</i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="__STATIC__/admin/images/goods-list1.jpg">
                                <span>
                                    <em>玛莎拉蒂</em>
                                    <i>Ghibli轿车系列</i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="__STATIC__/admin/images/goods-list1.jpg">
                                <span>
                                    <em>玛莎拉蒂</em>
                                    <i>Ghibli轿车系列</i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="__STATIC__/admin/images/goods-list1.jpg">
                                <span>
                                    <em>玛莎拉蒂</em>
                                    <i>Ghibli轿车系列</i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="__STATIC__/admin/images/goods-list1.jpg">
                                <span>
                                    <em>玛莎拉蒂</em>
                                    <i>Ghibli轿车系列</i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="__STATIC__/admin/images/goods-list1.jpg">
                                <span>
                                    <em>玛莎拉蒂</em>
                                    <i>Ghibli轿车系列</i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="__STATIC__/admin/images/goods-list1.jpg">
                                <span>
                                    <em>玛莎拉蒂</em>
                                    <i>Ghibli轿车系列</i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="__STATIC__/admin/images/goods-list1.jpg">
                                <span>
                                    <em>玛莎拉蒂</em>
                                    <i>Ghibli轿车系列</i>
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="GAime"></div>
    </div>
</div>
<div class="programme">
    <img src="__STATIC__/admin/images/ce.jpg">
    <span>购车方案</span>
    <p>更多优惠方案等着你</p>
    <a href="#">立即查看</a>
</div>
{include file="public/footer"}