{include file="public/head"}
<div class="obgbox">
    <div class="bannerbox">
        <ul>
            <li><a href="#"><img src="__STATIC__/admin/images/banner3.jpg"> </a> </li>
            <li><a href="#"><img src="__STATIC__/admin/images/banner3.jpg"> </a> </li>
            <li><a href="#"><img src="__STATIC__/admin/images/banner3.jpg"> </a> </li>
        </ul>
    </div>
    <div class="sgOne2">
        <span class="prev"><img src="__STATIC__/admin/images/rightbox.png"> </span>
        <span class="next"><img src="__STATIC__/admin/images/leftbox.png"></span>
    </div>
</div>
<div class="titelnx">
    专题视频
</div>
<div class="w1200 clearfix overbox">
    <div class="obgdivb">
        <ul class="swiper-wrapper">
            <li class="swiper-slide" onclick="click_bl(this)">
                <img src="__STATIC__/admin/images/img9.jpg" class="img1">
                <video src="mov_bbb.mp4" controls class="voidex" > </video>
                <p>
                    <img src="__STATIC__/admin/images/bf.png">
                </p>
            </li>
            <li class="swiper-slide" onclick="click_bl(this)">
                <img src="__STATIC__/admin/images/img9.jpg" class="img1">
                <video src="mov_bbb.mp4" controls class="voidex" > </video>
                <p>
                    <img src="__STATIC__/admin/images/bf.png">
                </p>
            </li>
            <li class="swiper-slide" onclick="click_bl(this)">
                <img src="__STATIC__/admin/images/img9.jpg" class="img1">
                <video src="mov_bbb.mp4" controls class="voidex" > </video>
                <p>
                    <img src="__STATIC__/admin/images/bf.png">
                </p>
            </li>
            <li class="swiper-slide" onclick="click_bl(this)">
                <img src="__STATIC__/admin/images/img9.jpg" class="img1">
                <video src="mov_bbb.mp4" controls class="voidex" > </video>
                <p>
                    <img src="__STATIC__/admin/images/bf.png">
                </p>
            </li>
            <li class="swiper-slide" onclick="click_bl(this)">
                <img src="__STATIC__/admin/images/img9.jpg" class="img1">
                <video src="mov_bbb.mp4" controls class="voidex" > </video>
                <p>
                    <img src="__STATIC__/admin/images/bf.png">
                </p>
            </li>
            <li class="swiper-slide" onclick="click_bl(this)">
                <img src="__STATIC__/admin/images/img9.jpg" class="img1">
                <video src="mov_bbb.mp4" controls class="voidex" > </video>
                <p>
                    <img src="__STATIC__/admin/images/bf.png">
                </p>
            </li>
        </ul>
    </div>
    <div class="Bekwne"></div>
</div>
<div class="titelnx">
    精彩展示
</div>
<div class="videoboxobg clearfix w1200">
    <ul>
        <li class="left-1">
           <a href="{:url('index/car/carvideolist')}">
               <p>
                   <span>点击观看专题视频</span>
                   <i class="iconfont icon-right1"></i>
               </p>
           </a>
        </li>
        <li class="left-2">
            <a href="{:url('index/car/carvideolist')}">
            <img src="__STATIC__/admin/images/img10.jpg">
            <p>
                <span>点击观看专题视频</span>
                <i class="iconfont icon-right1"></i>
            </p>
            </a>
        </li>
        <li class="left-2">
            <a href="{:url('index/car/carvideolist')}">
            <img src="__STATIC__/admin/images/img11.jpg">
            <p>
                <span>点击观看专题视频</span>
                <i class="iconfont icon-right1"></i>
            </p>
                </a>
        </li>
        <li class="left-2">
            <a href="{:url('index/car/carvideolist')}">
            <img src="__STATIC__/admin/images/img12.jpg">
            <p>
                <span>点击观看专题视频</span>
                <i class="iconfont icon-right1"></i>
            </p>
                </a>
        </li>
        <li class="left-2">
            <a href="{:url('index/car/carvideolist')}">
                <img src="__STATIC__/admin/images/img13.jpg">
                <p>
                    <span>点击观看专题视频</span>
                    <i class="iconfont icon-right1"></i>
                </p>
            </a>
        </li>
    </ul>
</div>

<div class="boxobg-gf">
    <div class="w1200">
        <div class="Tknepj">与众不同的活力</div>
        <div class="Boagje">一方面，Quattroporte总裁轿车让人能直观感受和体验强劲澎湃的动力性能。另一方面，这款车还拥有精湛工艺带来的舒适性，技术的便捷性以及无可比拟的纯正意式风格。
            Quattroporte总裁轿车融合了玛莎拉蒂的众多经典元素，尽显与众不同的活力。</div>
    </div>
</div>
<div class="boxobg-gf boxobg-gf2">
    <div class="w1200">
        <div class="Tknepj">特点与技术</div>
        <div class="Boagje">一方面，Quattroporte总裁轿车让人能直观感受和体验强劲澎湃的动力性能。另一方面，这款车还拥有精湛工艺带来的舒适性，技术的便捷性以及无可比拟的纯正意式风格。
            Quattroporte总裁轿车融合了玛莎拉蒂的众多经典元素，尽显与众不同的活力。</div>
    </div>
</div>

<!--视频弹出播放-->
<div class="Tancgubox">
    <ul>
        <li>
            <p><i class="iconfont icon-jia"></i></p>
            <div class="divvidel">
                <video src="" controls autoplay></video>
            </div>
        </li>
    </ul>
</div>

{include file="public/footer"}