
<div class="footerbox">
    <div class="footer-w1200 clearfix">
        <div class="footer-nav">
            <ul>
                <li><a href="#">网站首页</a> </li>
                <li><a href="#">公司简介</a> </li>
                <li><a href="#">产品展示</a> </li>
                <li><a href="#">购车方案</a> </li>
                <li><a href="#">监控系统</a> </li>
                <li><a href="#">新闻中心</a> </li>
                <li><a href="#">售后服务</a> </li>
                <li><a href="#">在线咨询</a> </li>
                <li><a href="#">联系我们</a> </li>
                <li><a href="#">法律援助</a> </li>
            </ul>
        </div>
        <div class="di-Map fl">
            <ul>
                <li>
                    <em>国车汽贸汽车服务有限公司</em>
                    <p><i class="iconfont icon-tel"></i>电话：<span>028-87486863</span></p>
                    <p><i class="iconfont icon-dizhi"></i>地址：成都市武侯区文昌路642号</p>
                    <p><i class="iconfont icon-icon25401"></i>邮箱：497764546@qq.com</p>
                </li>
            </ul>
        </div>
        <div class="footer-code fr">
            <ul>
                <li><img src="__STATIC__/admin/images/ew.jpg"> </li>
                <li><img src="__STATIC__/admin/images/ew.jpg"> </li>
            </ul>
        </div>
    </div>
    <div class="Tensboxs">
        <ul>
            <li> Copyright © 2017 国车汽贸汽车服务有限公司 版权所有 蜀ICP备xxxxxxxxx号</li>
        </ul>
    </div>
</div>

<script src="__STATIC__/admin/js/jquery.js"></script>
<script src="__STATIC__/admin/js/jquery-mian.js"></script>
<script src="__STATIC__/admin/js/jquery.SuperSlide.2.1.1.js"></script>
<script src="__STATIC__/admin/js/wow.min.js"></script>
<script src="__STATIC__/admin/js/swiper-4.3.3.jquery.min.js"></script>

<script>
    $(".goodsbox-show").slide({titCell:".ctrbox ul",mainCell:".widbox-goods ul",autoPlay:true,trigger:"click",delayTime:700,interTime:5000,effect:"fade",autoPage:"<li>0$</li>"});

</script>
</body>
</html>